# python
__pycache__/

# data and intermediate files
data/*
!data/salmon_with_eGFP/
data/salmon_with_eGFP/*
!data/salmon_with_eGFP/compiled_quants_egfp/
!data/salmon_results
proc/*
!proc/txi_nuo.rds
!proc/txi_wendy.rds

# binaries and images
results/

# VS code-related
*workspace

# RStudio-related
.cache/
.config/
.local/
tmp/
rstudio-server.sh
salmon/

# conda environment
envs/

# snakemake
.snakemake/
.DS_Store
*.Rproj.user
*.Rproj
*.Rhistory