# python
__pycache__/

# data and intermediate files
/data/*
!/data/salmon_with_eGFP/
/data/salmon_with_eGFP/*
!/data/salmon_with_eGFP/compiled_quants_egfp/
proc/

# binaries and images
results/figures

# VS code-related
*workspace

# RStudio-related
.cache/
.config/
.local/
tmp/
rstudio-server.sh
salmon/

# conda environment
env/

# snakemake
.snakemake/